.wrapper {
    height: 100vh;
    background-image: linear-gradient(#009587 15%, #dbdad0 10%, #d1dada 90%);

}

.container {
    height: 900px;
}

.col-4,
.col-8 {
    border: 1px solid #dcdcdc;
    height: 900px;
    padding: 0;
}

.content {
    height: 100%;
}

.top-section,
.bottom-section {
    background-color: #e9e9e9;
    height: 10%;
}

.middle-section {
    background-image: url(/img/mine.jpg);
    height: 80%;
    overflow-y: scroll;
}

.main-section {
    height: 90%;
}

.chat-list {
    overflow-y: scroll;
    height: 88%
}

.input-group {
    height: 5%;
}

.notifications {
    height: 7%;
    background-color: #8dd9fb;
}

.clearfix::after {
    content: "";
    clear: both;
}

.message {
    padding: 10px;
    max-width: 40%;
    word-wrap: break-word;
    border-radius: 15px;

}

.user {
    background-color: #d4f8b9;
    float: right;
}

.friend {
    background-color: white;
    float: left;
}